{% if app.request.attributes.get('_route') != 'app_login' and app.request.attributes.get('_route') != 'app_register' %}
    <nav class="pt-14 flex flex-col items-center gap-5">
        <h1 class="text-3xl">Vignettes</h1>
    
        <div class="flex gap-8">
            <a href="{{ path('app_home') }}" class="{{ app.request.attributes.get('_route') == 'app_home' ? 'font-semibold' : '' }} text-md">Dashboard</a>
    
            {% if app.user %}
            <a href="{{ path('app_profile') }}" class="{{ app.request.attributes.get('_route') == 'app_profile' ? 'font-semibold' : '' }} text-md">Mon profil</a>
            <a href="/logout" class="text-md">Déconnexion</a>
            {% else %}
            <a href="/login" class="text-md">Se connecter</a>
            {% endif %}
        </div>
    </nav>
{% endif %}